<h1>home</h1>

<%= @featured.name %>
<%= @featured.platform.name %>
<%= @featured.version %>
<p>
<%= @featured.description %>

<br/>
<%= image_tag "product/kelvim-feature-graphic.jpg" =%>
</p>

<%= image_tag "product/kelvim-screenshot.png" =%>
